@media only screen and (max-width:767px){
    .header-container .row:first-child{
        display: none;
    }
}
@media only screen and (max-width:576px){
    .footer .row .col-md-3{
        margin-top:10px;
    }
    #owl-three .item{
        height: 300px !important;
    }
    #owl-three .item:first-child h4{
        font-size: 32px !important;
    }
    #owl-three .item:first-child p{
        font-size: 18px !important;
    }
    #owl-three .item:first-child button{
        font-size: 16px !important;
        padding: 5px 10px !important;
    }
}
@media only screen and (min-width:767px) {
    .header-container .row:last-child, .header-container nav.nav-bar{
        display: none;
    }
    .header-container{
        margin-top:5px;
    }
}